* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
ul li {
    display: inline-block;
    position: relative;
}
ul li a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: inherit;
}
ul li ul.sub-menu li{
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: justify;
}
ul li ul.sub-menu{
    width: 100%;
    background-color: rgb(243, 243, 243);
    position: absolute;
    z-index: 9;
    display: none;

    top: 20px;
    left: -20px;
    padding: 12px 25px 15px 20px;
    border-radius: 12px;
    white-space: nowrap;
}
ul li a:hover{
    color: rgb(202, 101, 83);
}
ul li:hover ul.sub-menu{
    display: block;
}
a {
    text-decoration: none;
    color: inherit;
}

.main-menu{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.menu-content{
    display: flex;
    width: fit-content;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 12px 10px;
    font-size: 14px;
    color: rgb(53, 50, 50);
    letter-spacing: 1px;
    line-height: 20px;
    cursor: pointer;
    text-decoration: none;
    text-align: left;
}
.menu-content-resume{
    /* display: flex; */
    width: fit-content;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 12px 10px;
    font-size: 14px;
    color: rgb(53, 50, 50);
    letter-spacing: 1px;
    line-height: 20px;
    cursor: pointer;
    text-decoration: none;
    text-align: left;
}


body{
    background-color: rgb(249, 250, 251);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: inherit;
}

.section_page{
    margin-top: 180px;
    padding-top: 100px;
    margin-bottom: 50px;
}
@media(max-width: 1000px){
    .section_page{
        margin-top: 90px;
    }
}
#section_1{
    margin-top: 0;
    padding-top: 0;
}
#section_4{
    margin-bottom: 0;
}
.outer-layout_1{
    display: flex;
    justify-content: center;
}
.layout_1{
display: flex;
flex-direction: column;
width: 1200px;
}
@media(max-width: 1000px){
    .layout_1{
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
    }
}
.image_box{
    display: flex;
    margin-top: 220px;
}
.profile_box_1{
    width: 160px;
    height: 160px;
    border-radius: 200px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}
@media(max-width: 1000px){
    .profile_box_1{
        width: 90px;
        height: 90px;
    }
}
.memoji_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-content{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
    display: flex;
    align-items:flex-end;
    padding-left: 30px;
}
@media(max-width: 1000px){
    .main-content{
        font-size: 33px;
    }
}

.navbar{
 display: flex;
 justify-content: right;
 top: 0;
 right: 0;
 align-items: center;
 width: 100%;
 height: 60px;
 padding: 10px;
 padding-right: 100px;
 background-color: rgb(249, 250, 251);
 position: fixed;
 z-index: 2;
}
@media(max-width: 1000px){
    .navbar{
        width: 100%;
        justify-content: space-between;
        height: 50px;
        left: 0;
        padding-left: 20px;
        background-color: #fff;
        border-bottom: 1px solid rgb(219, 221, 223);
    }
}
.logo{
    font-size: 20px;
    font-weight: 700;
    padding: 12px;
    
    color: rgb(202, 101, 83);
}
@media screen and (min-width: 1000px) {
    .logo{
        display: none;
    }
}
@media screen and (max-width: 1000px) {
    .menu-content{
        display: none;
    }
}
.language_selector{
    display: flex;
    width: fit-content;
    font-size: 14px;
    padding: 12px;
    letter-spacing: 0.8px;
    color: rgb(53, 50, 50);
}
@media screen and (min-width: 1000px) {
    .language_selector{
        display: none;
    }
}
@media screen and (max-width: 1000px) {
    .language_selector{
        margin-right: 40px;
        background-color: rgb(249, 250, 251);
        border-radius: 10px;
    }
}
.select{
    color: rgb(202, 101, 83);
}

.menu-content:hover{
    color: rgb(202, 101, 83);
    
}
.lang_kor{
    color: rgb(169, 173, 177);
    padding: 12px 5px;
    letter-spacing: 0px;
    font-size: 17px;
}
.lang_div{
    color: rgb(210, 214, 218);
    font-size: 16px;
    padding: 5px;
}
.lang_eng{
    color: rgb(169, 173, 177);
    letter-spacing: 0px;
    padding: 12px 5px;
    font-size: 17px;
}
#blank{
    width: 30px;
}
.lang_selected{
    color: rgb(53, 50, 50);
}
.main-plot{
    display: flex;
    flex-direction: column;
}
.title-detail{
    font-size: 37px;
    font-weight: 600;
    /* margin-left: 40px; */
    margin-top: 35px;
}
.title-detail strong {
    font-weight: 600;
    background-image: linear-gradient(90deg,#f56772 0%,#ba6bff 100%);
    -webkit-background-clip: text;
    color: transparent;
}
.title-detail_kor{
    font-size: 35px;
    font-weight: 700;
    /* margin-left: 40px; */
    margin-top: 35px;
}
.title-detail_kor strong{
    font-weight: 600;
    background-image: linear-gradient(90deg,#f56772 0%,#ba6bff 100%);
    -webkit-background-clip: text;
    color: transparent;
}
@media(max-width: 1000px){
    .title-detail{
        font-size: 17px;
    }
    .title-detail_kor{
        font-size: 17px;
    }
}
html{
    scroll-behavior: smooth;
}
/* .view-button{
    margin-top: 30px;
    background-color: transparent;
	border: 2px solid white;
    border-radius: 4px;
	color: white;
	font-size: 14px;
	font-weight: 900;
	letter-spacing: 2px;
	padding: 12px 35px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
} */
/* .empty_box{
    margin: 250px;
} */
.outer-layout_2{
    display: flex;
    justify-content: center;
    /* margin-top: 250px; */
}
@media(max-width: 1000px){
    .outer-layout_2{
        /* width: 1100px; */
        padding-left: 50px;
        padding-right: 50px;
    }
}
.layout_2{
display: flex;
width: 1200px;
justify-content: space-between;
}
@media(max-width: 1000px){
    .layout_2{
        flex-direction: column;
    }
}
.profile_box_2{
    width: 440px;
    height: 440px;
    border-radius: 17px;
    overflow: hidden;
}
@media(max-width: 1000px){
    .profile_box_2{
        width: 294px;
        height: 294px;
    }
}
.profile_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile_description, .profile_description_engmob{
    width: 740px;
    height: 440px;
    border-radius: 17px;
    background-color: rgb(243, 243, 243);
}
@media(max-width: 1000px){
    .profile_description, .profile_description_engmob{
        width: 294px;
        height: 380px;
        margin-top: 20px;
    }
}
.profile_description_eng{
    width: 740px;
    height: 440px;
    border-radius: 17px;
    background-color: rgb(243, 243, 243);
}
@media(max-width: 1000px){
    .profile_description_eng{
        width: 294px;
        height: 380px;
        margin-top: 20px;
    }
}
.profile_description_layout, .profile_description_layout_engmob{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
}
@media(max-width: 1000px){
    .profile_description_layout, .profile_description_layout_engmob{
        padding: 27px;
    }
}
.profile_description_layout_eng{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
}
@media(max-width: 1000px){
    .profile_description_layout_eng{
        padding: 27px;
    }
}
.profile_description_detail_1, .profile_description_detail_engmob_1{
    color: rgb(202, 101, 83);
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 37px;
}
.profile_description_detail_kor_1{
    color: rgb(202, 101, 83);
    font-size: 33px;
    font-weight: 700;
    padding-bottom: 37px;
}
.profile_description_detail_2, .profile_description_detail_engmob_2{
    color: rgb(110, 110, 115);
    font-size: 19px;
    font-weight: 600;
    line-height: 25px;
    word-spacing: 4px;
    padding-bottom: 45px;
}
.profile_description_detail_kor_2{
    color: rgb(110, 110, 115);
    font-size: 22px;
    font-weight: 700;
    line-height: 25px;
    word-spacing: 4px;
    padding-bottom: 45px;
}
.profile_description_detail_3, .profile_description_detail_engmob_3{
    color: rgb(40, 40, 40);
    font-size: 19px;
    font-weight: 500;
    line-height: 33px;
    padding-right: 60px;
}
@media screen and (max-width: 1000px){
    .profile_description_eng{
        display: none;
    }
    .profile_description_engmob{
        height: 500px;
    }
    .profile_description_detail_engmob_1{
        font-size: 20px;
    }
    .profile_description_detail_engmob_2{
        font-size: 13px;
        line-height: 18px;
    }
    .profile_description_detail_engmob_3{
        font-size: 13px;
        line-height: 24px;
        width: 240px;
    }
}
@media screen and (min-width: 1000px) {
    .profile_description_engmob{
        display: none;
    }
}
.profile_description_detail_kor_3{
    color: rgb(40, 40, 40);
    font-size: 22px;
    font-weight: 700;
    line-height: 33px;
    padding-right: 60px;
    width: 560px;
}
@media(max-width: 1000px){
    .profile_description_detail_kor_1{
        font-size: 20px;
    }
    .profile_description_detail_kor_2{
        font-size: 15px;
        line-height: 20px;
    }
    .profile_description_detail_kor_3{
        font-size: 13px;
        line-height: 24px;
        width: 240px;
        
    }
}
/* .second_page{
    padding-bottom: 180px;
} */
.third_page{
    display: flex;
    flex-direction: column;
    height: 1080px;
    /* padding-bottom: 180px; */
}
.outer-layout_3{
    display: flex;
    justify-content: center;
}
@media(max-width: 1000px){
    .outer-layout_3{
        padding-left: 50px;
        padding-right: 50px;
    }
}
.layout_3{
display: flex;
flex-direction: column;
width: 1200px;
}
 
.page_project{
    color: rgb(202, 101, 83);
    font-size: 50px;
    font-weight: 600;
    /* margin-top: 150px; */
    margin-bottom: 30px;
}
@media(max-width: 1000px){
    .page_project{
        font-size: 33px;
    }
}
.portfolio{
    display: flex;
    background-color: rgb(243, 243, 243);
    width: 100%;
    border-radius: 17px;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}
.portfolio:hover{
    background-color: rgb(215, 214, 214);
    width: calc(100% + 20px);
    margin-left: -10px;
}
.port_space{
    display: flex;
    height: 26px;
}
.port_layout{
    display: flex;
    margin: 30px;
}
.port_img{
    width: 100%;
    height: 100%;
    border-radius: 17px;
}
.portfolio_image{
    width: 100%;
    height: 100%;
    border-radius: 17px;
    object-fit: cover;
}
.port_desc{
    width: 490px;
    padding-left: 40px;
    padding-right: 15px;
}
.desc_title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 35px;
}
.desc_detail {
    font-size: 18px;
    line-height: 30px;
    word-break: keep-all;
}
#portimg2{
    border: 0.1px solid rgb(225, 225, 225);
}
#descdetail{
    font-weight: 500;

}
@media screen and (max-width: 1000px){
    .portfolio{
        width: 294px;
        display: none;
    }
}
.portfolio_image_mobile{
    width: 294px;
}
@media screen and (min-width: 1000px){
    .portfolio_image_mobile{
        display: none;
    }
}
.outer-layout_4{
    display: flex;
    justify-content: center;
}
.layout_4{
    display: flex;
    flex-direction: column;
    width: 1200px;
}
@media (max-width: 1000px){
    .layout_4{
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
    }
}
.page_involvement{
    color: rgb(202, 101, 83);
    font-size: 50px;
    font-weight: 600;
    /* margin-top: 150px; */
    margin-bottom: 100px;
}
@media (max-width: 1000px){
    .page_involvement{
        font-size: 33px;
        margin-bottom: 70px;
    }
}
.inv_layout{
    display: flex;
    /* position: relative; */
}
.inv_layout_mob{
    display: flex;
}
@media screen and (min-width: 1000px) {
    .inv_layout_mob{
        display: none;
    }
}
@media screen and (max-width: 1000px){
    .inv_layout{
        display: none;
    }
}
.inv_history_front{
    width: 100px;
    font-size: 27px;
    font-weight: 700;
    color: rgb(53, 50, 50);
}
@media (max-width: 1000px){
    .inv_history_front{
        width: 70px;
    }
}
.year{
   height: 150px;
   margin-top:-10px;
}
@media (max-width: 1000px){
    .year{
        margin-top: -5px;
    }
}
@media (max-width: 1000px){
    .inv_layout_mob .year{
    font-size: 17px;
    font-weight: 700;
    }
}
.inv_history_back{
    width: 100%;
    /* height: 560px; */
    /* padding-left: 45px; */
    border-left: 2px solid rgb(53, 50, 50);
    
}
.his_b_date{
    font-size: 27px;
    font-style: normal;
    font-weight: bold;
    color: rgb(53, 50, 50);
    top: 0;
}
@media (max-width: 1000px){
    .his_b_date{
        font-size: 17px;
        font-weight: 700;
        /* width: fit-content; */
    }
}
.his_b_detail{
    font-size: 20px;
    font-weight: 500;
    padding-top: 5px;
    color: rgb(202, 101, 83);
}
.his_b_detail_kor{
    font-size: 20px;
    font-weight: 600;
    padding-top: 5px;
    color: rgb(202, 101, 83);
}
@media (max-width: 1000px){
    .his_b_detail_kor{
        font-size: 17px;
    }
}
.dd_block{
    width: 500px;
    height: 150px;
    padding-left: 50px;
    margin-top: -10px;
}
@media(max-width: 1000px){
    .dd_block{
        width: fit-content;
        padding-left: 30px;
        margin-top: -5px;
    }
}
.bullet_n_ddblock{
    display: flex;
    position: relative;
    /* margin-bottom: 60px; */
}
.bullet{
    position: absolute;
    /* top:10px; */
    left:-6px;
    width: 10px;
    height: 10px;
    background-color: rgb(53, 50, 50);
    border-radius: 50%;
    
}
.footer{
width: 100%;
text-align: center;
margin-top: 360px;
margin-bottom: 20px;
font-size: 14px;
}